.choresText {
   color: rgb(17, 86, 72);
   font-size: 1.2vw;
   font-style: italic;
}

.choresHeading {
   color: rgb(5, 131, 13);
   text-decoration: underline;
}

ul.a {
   list-style-type: circle;
 }