.movieText {
   color: rgb(12, 41, 117);
   font-size: 1.3vw;
   text-align: left;
   background-color: antiquewhite;
}

.movieHeading {
   color: rgb(107, 17, 17);
   text-align: left;
}

.movieDiv{
   padding-left: 2%;
   padding-right: 2%;
}